body {
    font-family: Roboto, Arial;
    font-size: large;
    background-color: rgb(60, 42, 33);
    color: rgb(229, 229, 203);
}

hr {
    border: none;
    border-top: 3px solid rgb(26, 18, 11);
}

a:link {
    color: rgb(229, 229, 203);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(229, 229, 203);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(229, 229, 203);
    background-color: transparent;
    text-decoration: none;
}

.name {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectTitle {
    font-size: x-large;
    color: rgb(213, 206, 163);
    margin-bottom: 10px;
}

.scrollContainer {
    overflow: auto;
    white-space: nowrap;
    background: transparent;
    height: 100%;
}

.imageContainer {
    display: flex;
    flex-direction: row;
}

.projectImg {
    height: 400px;
    margin-right: 8px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(229, 229, 203);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(26, 18, 11);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(60, 42, 33);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.button {
    width: 75px;
    background-color: rgb(229, 229, 203);
    font-family: Roboto, Arial;
    color: rgb(26, 18, 11);
    border-color: rgb(26, 18, 11);
    font-size: medium;
    border-radius: 20px;
    transition: color .5s, background-color .5s, border .5s;
    margin-right: 10px;
    padding: 3px;
}

.button:hover {
    color: rgb(229, 229, 203);
    background-color: rgb(26, 18, 11);
    cursor: pointer;
}

footer {
    margin-top: 20px;
}